body {
    font-family: 'Shojumaru', cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(254, 232, 11);
}
.header {
    text-align: center;
    font-size: 1.5em;
}
input {
    outline: none;
    font-size: 1.0rem;
    padding: 0 5px;
}

button {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 3px 15px;
    color: white;
    line-height: 25px;
    background-color: black;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    transition: all 150ms ease-in;
    outline: none;
}

button:hover {
    background-color: green;
}

button.turn {
    color: rgb(255, 64, 129);
    background-color: white;
    box-shadow: none;
}

button.turn:hover {
    background-color: #eaeaea;
}

.kbb-wrapper {
    background-color: rgb(254, 232, 11);
    width: 400px;
    height: 300px;
    max-height: 300px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    
}

#events {
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgrey;
    overflow-y: scroll;
}

#events li {
    padding: 10px 10px 10px 10px;
}

.chat-wrapper {
    padding: 10px;
}

.chat-wrapper form {
    display: flex;
}

.chat-wrapper form input {
    font-size: 1.0rem;
    margin: 0 10px 0 0;
    padding: 0 5px;
    flex-grow: 1;
}

.chat-wrapper form button {
    width: 80px;
}

.button-wrapper {
    display: flex;
    padding: 10px 50px;
    justify-content: space-evenly;
}

.button-wrapper img {
    height: 3em;
    width: 3em;
}

.button-wrapper img:hover{
    height:4em;
    width: 4em;
}